extends layout

block content
  h1= title
  p Welcome to #{title}
  button(id='autofillDemo') fill in the form with demo values from Cranksgiving 11

  form(action='/users' method='post')
    input(type='text', name='origin', id='origin' placeholder='origin')

    input(type='text', name='destination', id='destination' placeholder='destination')

    label(for='A1')
      p Waypoints:
    table
      thead
        tr
          th
          th 1
          th 2
          th 3
          th 4
          th 5
      each letter in ['A', 'B', 'C', 'D', 'E']
        tr
          th #{letter}
          each number in [1,2,3,4,5]
            td
              input(type='text', name='row#{letter}', id='#{letter}#{number}')
    input(type='submit')

  script(src='/scripts/index.js')
