extends layout

block content
  h1= title
  p.
    #{title} helps you be the fastest cat of your local #[a(href='http://cranksgiving.org') Cranksgiving].
    Fill in the form below, or #[a(id='autofillDemo' href="#") use demo values] from this #[a(href='/images/manifest.jpg') manifest].
    You can also #[a(id='clearForm' href='#') clear the form].

  form(action='/users' method='post')
    fieldset.endpoints
      legend Origin/Destination:
      div
        button.geolocate(data-for='origin' type='button')
        input(type='text', name='origin', id='origin' placeholder='Origin' required)
      div
        button.geolocate(data-for='destination' type='button')
        input(type='text', name='destination', id='destination' placeholder='Destination' required)

    fieldset
      legend Waypoint Constraints:
      ul
        li
          label #[input(type="checkbox" name="eliminateRows" id="eliminateRows" checked)] Choose one per row
        li
          label #[input(type="checkbox" name="eliminateColumns" id="eliminateColumns" checked)] Choose one per column

    fieldset
      legend Waypoints:
      table
        thead
          tr
            th
            th 1
            th 2
            th 3
            th 4
            th 5
        each letter in ['A', 'B', 'C', 'D', 'E']
          tr
            th #{letter}
            each number in [1,2,3,4,5]
              td
                input(type='text', name='row#{letter}', id='#{letter}#{number}', placeholder='#{letter}#{number}')

    fieldset
      legend Baby Food Drop-off Points (intermediate stops that can't be the first stop):
      input(type='text', name='babyFoodStops', id='babyFood1', placeholder='Baby Food Stop 1')
      input(type='text', name='babyFoodStops', id='babyFood2', placeholder='Baby Food Stop 2')

    button(type='submit') Submit

  div#overlay
  div#results
  script(src='/scripts/index.js')
